@model EventPlanner.Models.DeleteGroupViewModel

@{
    ViewBag.Title = "Delete";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<h2>Deleting @Model.Group.Name</h2>

<h1 style="color:#ffffff;" >Are you sure you want to delete this group?</h1>
<div style="color:#ffffff">
    <hr />
            @Html.HiddenFor(m => m.Group.Id)
            @*Check Joe's Trash Collector / Add Pickup Hidden Form. @Html.HiddenFor Look Into / How to put information in it*@
            <input type="submit" name="Delete" value="Submit" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")

</div>
}