
@model EventPlanner.Models.Venue_Entertainment
@{
    ViewBag.Title = "View_Venues";
}

<head>
    <style>
        p {
            text-indent: 50px;
          }
    </style>

</head>

<h2>View_Venues</h2>
<table class="table">
    @foreach (var item in Model.venues)
    {
        <tr>
            <th>
                <h3>@Html.DisplayFor(modelitem => item.Name)</h3>
            </th>
            <th>
                @Html.ActionLink("Delete", "DeleteVenue", new { id = item.Id })
            </th>
        </tr>
                foreach (var thing in Model.entertainment)
                {
                    if (item.Id == thing.VenueId)
                    {
                        <tr>
                            <td>
                                <p>@Html.DisplayFor(modelthing => thing.Name)</p>
                            </td>
                            <td>
                                <p>@Html.DisplayFor(modelthing => thing.StartTime)
                                    to
                                @Html.DisplayFor(modelthing => thing.EndTime)</p>
                            </td>
                            <td>
                                @Html.ActionLink("Delete", "Delete", new { id = thing.Id })
                            </td>
                        </tr>
                    }
                }
    }
</table>
@*@for (int i = 0; i < Model.venues.Count; i++) //each (var item in Model.venues)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#i">
                    @Model.venues[i].Name
                </a>
            </h4>
        </div>
        <div id= 'innerList' class="panel-collapse collapse">
            <div class="panel-body">
@foreach (var thing in Model.entertainment)
{
    if (Model.venues[i].Id == thing.VenueId)
    {
        @Html.DisplayFor(modelthing => thing.Name)
    }
}            
            </div>
        </div>
    </div>
}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    Collapsible Group Item #2
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    Collapsible Group Item #3
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>*@


