@model IEnumerable<MovieStore.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearRelease)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearRelease)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Movieid }) |
            @Html.ActionLink("Details", "Details", new { id=item.Movieid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Movieid })
        </td>
    </tr>
}

</table>
